:root {
    --accentL: #ccccff;
    --accent: #c1b4f9;
    --accent2: #927fde;
    --accent3: #735fb0;
    --text: #f5f5f5;
    --hbg: #576077;
    --bg: #36394c;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: color-mix(in srgb, var(--hbg) 20%, transparent);
    padding: 15px 30px;
    border-radius: 5px;
    border: 2px solid color-mix(in srgb, var(--accent2) 40%, transparent);
    margin-bottom: 30px;
    position: relative;
    z-index: 10; 
}

.navbar li a {
    text-decoration: none;
    color:var(--text);
    display: block;
    text-align: center;
    
}

.nav-link {
    border-radius: 5px;
    border-right:2px solid color-mix(in srgb, var(--accent2) 40%, transparent);
    background-color: color-mix(in srgb, var(--hbg) 20%, transparent);
    position: fixed;
    top: 0;
    left: -400px;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 100px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    transition: left 0.4s ease-out;
    backdrop-filter: blur(4px);
}

#nav-menu {
    margin-right: auto;
    display: block;
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    transition: transform 0.4s ease-out;
    z-index: 100; 
    color: var(--text);
    }

.nav-link.active {
    left:0;
}

.nav-title {
    text-align: left;
    font-size: 20px;
}